<div class="container-fluid">
    <form #formSearch="ngForm">
      <div class="form-group">
        <label for="exampleInputEmail1">Buscador</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Búsqueda...">
      </div>
      <button type="submit" value="buscar"></button>
    </form>

    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Evento</th>
          <th scope="col">Descripción</th>
          <th scope="col">Importe aportado</th>
          <th scope="col">Integrantes</th>
        </tr>
      </thead>
      <tbody>
        <!-- *ngFor="let desglose of desglosesCuenta" -->
        <tr>
          <!-- {{desglose.bookingDate}} -->
          <td>{{usersEvent.name}}</td>
          <!-- {{desglose.entryReference}} -->
          <td>{{usersEvent.description}}</td>
          <!-- {{desglose.amount.amount}} {{desglose.amount.currency}}-->
          <th scope="row">{{usersEvent.price}}</th>
          <!-- {{desglose.balances.closingBooked.lastChangeDateTime}} -->
          <td>{{usersEvent.users}}</td>
        </tr>
      </tbody>
    </table>
  </div>
