<div class="contenedor">
  <img src="../../../assets/img/tranquilidad.jpg" />
  <div class="contenedor-pequeno">
      <div class="span">
          <span>Alta de Eventos!</span>
      </div>

      <form #formAltas="ngForm" (ngSubmit)="suscribirse(formAltas)" *ngIf="show">
          <input type="text" placeholder="Nombre del evento" name="name" #name="ngModel" [(ngModel)]="event.event">
          <textarea placeholder="Descripción" name="description" #description="ngModel" [(ngModel)]="event.description"></textarea>
          <input type="text" placeholder="Saldo mínimo (EUR)" name="saldo" #saldo="ngModel" [(ngModel)]="event.amount">

          <button type="submit" class="btn btn-info" value="acceder" *ngIf="show">Suscribirse</button>
      </form>

      <div class="container-fluid" *ngIf="!show">
          <!-- <p>Detalles de la suscripción</p>

          <ul class="list-group list-group-flush">
              <li class="list-group-item"><a>{{event.event}}</a></li>
              <li class="list-group-item">{{event.description}}</li>
              <li class="list-group-item">{{event.amount}}</li>
              <br><hr/>
          </ul> -->

          <div class="alert alert-success" role="alert">
              <h4 class="alert-heading">Suscripción realizada!</h4>
              <p>Aww yeah, Te acabas de suscribir a: {{event.event}}.</p>
              <hr>
              <p class="mb-0">{{event.description}}</p>
            </div>

            <button (click)="pagar()" class="btn btn-warning">Pagar</button>
      </div>

  </div>
</div>
