body {
  background-image: url('../../../assets/img/tranquilidad.jpg');
}

@font-face {
  font-family: 'Open';
  src: url('../../../assets/font/OpenSans-Light.ttf');
}

.contenedor img {
  position: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  width: 101%;
  margin-top: 0px;
  margin-left: -8px;
  font-family: 'Open';
}

.contenedor-pequeno {
  height: 81%;
  position: absolute;
  top: 55%;
  left: 50%;
  border-radius: 15px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #2b748978;
  width: 50%;
  font-family: 'Open';
}

input {
  margin-left: 5%;
  width: 91%;
  border-radius: 9px;
  padding: 7px;
  border: none;
  text-align: center;
  font-family: 'Open';
  margin-top: 1%;
}

textarea {
  margin-left: 5%;
  width: 91%;
  border-radius: 9px;
  padding: 7px;
  border: none;
  text-align: center;
  font-family: 'Open';
  margin-top: 1%;
  margin-bottom: -5px;
}

.btn-info {
  margin-left: 34%;
  font-family: 'Open';
  width: 33%;
  margin-top: 2%;
}

.btn-warning {
  margin-left: 34%;
  font-family: 'Open';
  width: 33%;
  margin-top: 2%;
}

.span {
  margin-top: 28px;
  font-size: 31px;
  margin-left: 37%;
  color: whitesmoke;
  font-family: 'Open';
  margin-bottom: 4%;
}

.list-group {
  width: 75%;
  padding-left: 180px;
}

.list-group-item {
  text-align: center;
  background: #f8f9fa00;
  font-size: 25px;
  font-family: 'Open';
  color: whitesmoke;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
  font-family: 'Open';
  font-size: 28px;
  margin-bottom: 45px;
  text-align: center;
  color: whitesmoke;
}

