
blockchain/Node1/geth/chaindata/LOCK
*.bak
blockchain/Node1/geth/chaindata/MANIFEST-000004
*.log
blockchain/Node1/geth/lightchaindata/LOG
blockchain/Node1/geth/lightchaindata/LOCK
blockchain/Node1/geth/lightchaindata/MANIFEST-000000
blockchain/Node1/geth/lightchaindata/CURRENT
blockchain/Node1/geth/LOCK
blockchain/Node1/geth/chaindata/LOG
blockchain/Node1/geth/chaindata/CURRENT
blockchain/Node1/geth/chaindata/000002.ldb
blockchain/Node1/geth/nodes/CURRENT
blockchain/Node1/geth/nodes/LOCK
blockchain/Node1/geth/nodes/LOG
blockchain/Node1/geth/nodes/MANIFEST-000000
blockchain/Node1/geth/transactions.rlp
